* {
    box-sizing: border-box;
  }

body, main, header, #pay-table, #hand, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'MuseoModerno', sans-serif;
}

body, header, main {
    flex-direction: column;
}

body {
    height: 100vh;
    margin: 0;
    background-color: green;
}

header > * {
    margin: 0 auto;
}

h1 {
    font-size: 6vmin;
}

h2 {
    font-size: 3vmin;
}

#pay-table {
    margin: 3%;
    align-items: stretch;
}

ol {
    font-size: 2vmin;
    list-style-type: none; 
    border: 0.5vmin solid black;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1% 2%;
    margin: 0;
}

ol.values {
    min-width: 8vmin;
    border-left: none;
}

#win-names {
    min-width: 20vmin;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

#hand {
    max-width: 90vmin;
}

#hand > div.card {
    max-height: 25vmin;
    margin: 0 1vmin;
    cursor: default;
}

#hand > div:not(.held):not(.back):not(.stale):hover {
    border: 0.75vmin solid #3333A2;
}

#hand > div.held {
    border: 0.75vmin solid darkblue;
}

#user-bar {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 35% 65%;
    width: 60vmin;
    margin: 3%;
}

#user-bar > h3 {
    font-size: 3vmin;
    text-align: center;
    grid-column: 1 / -1;
    margin: 0 0 5% 0;
}

#user-bar > button {
    color: black;
    font-size: 1.75vmin;
    font-family: 'MuseoModerno', sans-serif;
    background-color: white;
    border: 1.2vmin double darkblue;
    border-radius: 50%;
    margin: 5%;
}

#user-bar > button:disabled {
    color: lightgrey;
}

#user-bar > p {
    font-size: 2.5vmin;
    text-align: center;
    align-self: center;
    margin: 0 2vmin;
}

footer {
    width: 80%;
}

#sound, #restart {
    margin: 0 3%;
    cursor: pointer;
}

footer > p {
    font-size: 1.5vmin;
    margin: 0;
}

footer > p > a {
    color: gold;
}