* {
    box-sizing: border-box;
  }

body, main, header, #win-table, #hand, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'MuseoModerno', sans-serif;
}

body, header, main {
    flex-direction: column;
}

body {
    height: 100vh;
    margin: 0;
    background-color: green;
}

header > * {
    margin: 0 auto;
}

h1 {
    font-size: 6vh;
}

h2 {
    font-size: 3vh;
}

#win-table {
    margin: 3%;
    align-items: stretch;
    border: 3px solid black;
}

ol {
    font-size: 2vh;
    list-style-type: none; 
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1% 2%;
    margin: 0;
}

ol.values {
    min-width: 8vh;
}

#win-names {
    min-width: 20vh;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

#hand > div.card {
    margin: 0 1vh;
}

#hand > div.held {
    border: 6px solid darkblue;
}

#user-bar {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 35% 65%;
    width: 60vh;
    margin: 3%;
}

#user-bar > h3 {
    font-size: 3vh;
    text-align: center;
    grid-column: 1 / -1;
    margin: 0 0 20px 0;
}

#user-bar > button {
    color: black;
    font-size: 1.75vh;
    font-family: 'MuseoModerno', sans-serif;
    background-color: white;
    border: 10px double darkblue;
    border-radius: 50%;
    margin: 5%;
}

#user-bar > button:disabled {
    color: lightgrey;
}

#user-bar > p {
    font-size: 2.5vh;
    text-align: center;
    align-self: center;
    margin: 0 2vh;
}

footer {
    width: 80%;
}

footer > #sound {
    margin: 0 3%;
}

footer > p {
    font-size: 1.5vh;
    margin: 0;
}

footer > p > a {
    color: gold;
}